[Desktop Entry]
Name=Chevy
Comment=2D Game
Exec=sh -c 'java -jar "$HOME"/.local/opt/chevy.jar'
StartupWMClass=chevy-Main
Icon=Chevy
Terminal=false
Type=Application
Categories=Game;
